.hero-homepage {
    background-color: #357717;
    margin-top: 100px;
    z-index: 1;
    height: 75vh;
    position: relative;
}

.hero-homepage {
    background-color: #357717;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero-title {
    padding-top: 250px;
    padding-left: 50px;
    font-size: 70px;
    color: white;
}

.hero-description {
    padding-left: 50px;
    font-size: 42px;
    color: white;
}

.btns {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 40vh;
}

.hero-images {
    width: 120px;
    height: 160px;
    position: absolute; 
    bottom: 25px; 
    right: 25px; 
}

.hero2-images {
    width: 150px;
    height: 140px;
    margin-left: 25px;
    margin-top: 0; 
    position: absolute; 
    top: 25px;
    left: 25px; 
}

@media screen and (max-width: 800px) {
    .hero-title {
        padding-top: 50px; /* Adjust padding for smaller screens */
        padding-left: 20px; /* Adjust padding for smaller screens */
        font-size: 28px; /* Decrease font size for smaller screens */
    }

    .hero-description {
        padding-left: 20px; /* Adjust padding for smaller screens */
        font-size: 20px; /* Decrease font size for smaller screens */
    }

    .hero-homepage {
        width: 103%;
        overflow-x: hidden;
    }

    .line-break::before {
        content: '\A';
        white-space: pre;
    }

    .hero-images {
        display: none;
    }

    .hero2-images {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .hero-title {
        font-size: 32px; /* Decrease font size for smaller screens */
    }

    .hero-description {
        font-size: 24px; /* Decrease font size for smaller screens */
    }


    .line-break::before {
        content: '\A';
        white-space: pre;
    }

    .hero-images {
        width: 120px;
        height: 160px;
        position: absolute;
        bottom: 25px;
        right: 25px;
    }

    
    .hero2-images {
        width: 150px;
        height: 140px;
        margin-left: 25px;
        margin-top: 0px;
        top: 25px;
        left: 25px;
    }
}
