/* SignUpForm.css */

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    margin-top: 40px;
  }
  
  .signup-card {
    padding: 30px 10px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    margin-top: 32%;
  }
  
  .signup-form {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
  }
  
  .signup-form h1 {
    margin-bottom: 20px;
  }
  
  .signup-form input,
  .signup-form button {
    margin-bottom: 10px;
  }
  
  .signup-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: darkgreen;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: darkgreen;
  }
  
  .signup-form p {
    margin-top: 10px;
    margin-bottom: 0;
    color: black;
  }
  
  .login-link4 {
    color: darkgreen;
    text-decoration: none;
    
  }
  
  .login-link:hover {
    text-decoration: underline;
    color: darkgreen;
  }
  